/* BUTTONS */
button {
  background: var(--font-color-30);
  border-radius: var(--border-radius);
  border-color: transparent;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: var(--font-color-70);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
  padding: 0.5em 1em;
  margin-right: 0.25rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease;
  transform: scale(1);
  z-index: 0; /* hightlight from other button's border when grouped */

  &:active {
    transform: scale(0.97);
  }

  &.round {
    border-radius: 2rem;
  }

  &.primary,
  &.secondary,
  &.dark {
    color: #fff;
    background-color: #000;
    background-color: var(--color-primary);
  }
  &.secondary {
    background-color: var(--font-color-50);
  }

  &.dark {
    background-color: var(--font-color-70);
    @media (prefers-color-scheme: dark) {
      background-color: var(--font-color-30);
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--font-color-70);
    color: inherit;

    &.primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &.clear {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: inherit;
  }

  .icon {
    &:first-child {
      margin-right: 0.5rem;
    }
    &:last-child {
      margin-left: 0.5rem;
    }
  }

  &:has(.icon) {
    display: inline-flex;
    align-items: baseline;
  }
}
