:root {
  color-scheme: light dark; /* both supported */
  --bgColor: #fff;
  --color: #222;
  --codeBg: #eee;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.75;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--bgColor);
  color: var(--color);
  max-width: 60ch;
  margin: auto;
  padding: 2em 1em;
}

a {
  color: #0033cc;
}

h1,h2,h3,h4,h5,h6 {
  margin: 1em 0 1em;
}

p,ul,ol,pre {
  margin-bottom: 2rem;
}

pre {
  background-color: var(--codeBg);
  border-radius: 6px;
  font-family: monospace;
  font-size: 0.85rem;
  display: block;
  padding: 1rem;
  overflow-x: auto;
}

body.dark {
  --bgColor: #111;
  --color: #eee;
  color-scheme: dark;
  font-weight: 350;
}

body.dark a {
  color: #809fff;
}

body.dark pre {
  --codeBg: #222;
}

body.dark img {
  filter: brightness(.8) contrast(1.2);
}
