:root {
  --bg-color: #fff;
  --font-color: #222;
  --bg-secondary-color: #eee;
  --color-primary: #3333ee;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: rgb(41,41,41);
  --color-error: #d43939;
  --color-success: #28bd14;
  --font-family-sans: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-lightGrey) var(--bg-primary);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

*::-webkit-scrollbar-thumb {
  background: var(--color-lightGrey);
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  font-family: var(--font-family-sans);
  font-size: 1.1rem;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

body {
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 70ch;
  margin: auto;
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 1em;
}

a {
  color: var(--color-primary);
  cursor: pointer;
}

a:hover {
  filter: brightness(150%);
}

p,
ul,
ol,
pre {
  margin-bottom: 2rem;
}

blockquote {
  background-color: var(--bg-secondary-color);
  padding: 1.5rem 2rem;
  border-left: 3px solid var(--color-lightGrey);
}

dl dt {
  font-weight: bold;
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  margin: 1rem 0;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}

thead {
  border-bottom: 2px solid var(--color-lightGrey);
}

tfoot {
  border-top: 2px solid var(--color-lightGrey);
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
  monospace; /* 1 */
  font-size: 85%; /* 2 */
}

code,
kbd {
  padding: 0 0.5rem;
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  padding: 0.2em 0.4em;
  background-color: var(--bg-secondary-color);
}

pre {
  background-color: var(--bg-secondary-color);
  border-radius: 6px;
  font-family: monospace;
  display: block;
  padding: 1rem;
  overflow: auto;
}

pre code {
  background: none;
  padding: 0;
}

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="reset"],
[type="submit"] {
  appearance: button;
}

/* BUTTONS */
button,
[type="reset"],
[type="submit"] {
  padding: 0.5rem 1rem;
  color: var(--color-darkGrey);
  background: var(--color-lightGrey);
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  transition: opacity 0.2s ease;
  text-decoration: none;
  transform: scale(1);
  display: inline-block;
  cursor: pointer;
}

.grouped {
  display: flex;
}

.grouped > *:not(:last-child) {
  margin-right: 16px;
}

button + button {
  margin-left: .5rem;
}

button:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  opacity: 0.8;
}

button:active,
[type="reset"]:active,
[type="submit"]:active {
  transform: scale(0.98);
}

button:disabled,
button:disabled:hover,
input:disabled,
input:disabled:hover,
[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

button.primary,
button.secondary,
button.dark,
button.error,
button.success,
[type="submit"] {
  color: #fff;
  z-index: 1; /* hightlight from other button's border when grouped */
  background-color: #000;
  background-color: var(--color-primary);
}

button.secondary {
  background-color: var(--color-grey);
}

button.success {
  background-color: var(--color-success);
}

button.error {
  background-color: var(--color-error);
}

button.dark {
  background-color: var(--color-darkGrey);
}

button.outline {
  background-color: transparent;
  border-color: var(--color-lightGrey);
  color: var(--color-lightGrey);
}

button.outline.primary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

button.outline.secondary {
  border-color: var(--color-grey);
  color: var(--color-grey);
}

button.icon {
  display: inline-flex;
  align-items: center;
}

button.icon > img {
  margin-left: 4px;
}

button.icon-only {
  padding: 1rem;
}

/* Inputs */
input:not([type="color"]):not([type="checkbox"]):not([type="radio"]):not([type="reset"]):not([type="submit"]),
select,
textarea,
textarea[type="text"] {
  font-family: inherit;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  background-color: var(--color-darkGrey);
  border: 1px solid var(--color-lightGrey);
  font-size: 1em;
  transition: all 0.2s ease-out 0s;
  display: block;
  width: 100%;
}

input:not([type="color"]):not([type="checkbox"]):not([type="radio"]):not([type="reset"]):not([type="submit"]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 2px var(--color-primary);
  outline: none;
}

input.error:not([type="checkbox"]):not([type="radio"]):not([type="color"]):not([type="reset"]),
textarea.error,
input:invalid {
  border-color: var(--color-error);
}

input.success:not([type="checkbox"]):not([type="radio"]):not([type="color"]):not([type="reset"]),
textarea.success {
  border-color: var(--color-success);
}

select {
  appearance: none;
  background: var(--color-darkGrey) no-repeat 100%;
  background-size: 1ex;
  background-origin: content-box;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='%23555'><polygon points='0,0 60,0 30,60'/></svg>");
}

[type="checkbox"],
[type="radio"] {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin-right: .5rem;
  margin-left: .5rem;
}

::placeholder {
  color: #bdbfc4;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Navigation bar and branding */
.nav {
  display: flex;
  min-height: 5rem;
  align-items: stretch;
}

.nav img {
  max-height: 3rem;
}

.nav-center,
.nav-start,
.nav-end {
  display: flex;
  flex: 1;
}

.nav-start {
  justify-content: flex-start;
}

.nav-end {
  justify-content: flex-end;
}

.nav-center {
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .nav,
  .nav>.container {
    flex-direction: column;
  }
  .nav-center,
  .nav-start,
  .nav-end {
    justify-content: center;
  }
}

.nav a,
.nav .brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.nav [aria-current="page"]:not(button),
.nav .active:not(button) {
  color: #000; /* fallback */
  color: var(--color-primary);
}

.nav .brand {
  font-size: 1.75em;
  padding-top: 0;
  padding-bottom: 0;
}

.nav .brand img {
  padding-right: 1rem;
}

.nav button {
  margin: auto 1rem;
}

.card {
  padding: 1rem 2rem;
  border-radius: 4px;
  background: var(--bg-color);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
}

.card p:last-child {
  margin: 0;
}

.card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --font-color: #eee;
    --color-primary: #4D4DFF;
    --bg-secondary-color: #222;
  }
  
  body {
    color-scheme: dark;
    font-weight: 350;
  }
  
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
