:root {
  --bg-color: #fff;
  --font-color: #222;
  --color-primary: #3333ee;
  --color-grey: #747681;
  --color-lightGrey: #d2d6dd;
  --color-mediumGrey: #aaa;
  --color-darkGrey: rgb(41, 41, 41);
  --color-code: #905;
  --font-family-sans: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-family-mono: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey) var(--bg-primary);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-mediumGrey);
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  font-family: var(--font-family-sans);
  font-size: 1.125rem;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
}

a {
  color: var(--color-primary);
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

p,
ul,
ol,
pre {
  margin-bottom: 1rem;
}

/**
Lists are unstyled
*/
ol,
ul,
menu,
dd,
li {
  list-style: none;
  padding-left: 0;
  margin-inline-start: 0;
}

dl dt {
  font-weight: bold;
}

blockquote {
  border-left: 3px solid var(--color-lightGrey);
  margin: 0 0 1rem 0;
  padding: 0 2rem 0;
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  border: none;
  border-top: 1px solid var(--color-mediumGrey); /* 2 */
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

td,
th {
  vertical-align: middle;
  padding: 1rem 0.25rem;
  border-bottom: 0.5px solid var(--color-mediumGrey);
}

tfoot {
  border-top: 0.5px solid var(--color-mediumGrey);
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: var(--font-family-mono); /* 1 */
  font-size: 90%; /* 2 */
  color: var(--color-code);
}

code,
kbd {
  padding: 0 0.5rem;
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 0.25rem;
  padding: 0.2em 0.4em;
}

pre {
  border-radius: 0.5rem;
  display: block;
  padding: 1rem;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  code {
    background: none;
    padding: 0;
  }
}

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

/**
Images are block level
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/**
Images width constrained
*/
img,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  cursor: pointer;
  display: list-item;
}

dialog {
  border-radius: 1rem;
  border-color: transparent;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 1rem;
  &::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
}
