@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --bg-secondary: #222;
    --font-color: #eee;
    --color-primary: #4d4dff;
    --color-field: rgb(41, 41, 41);
    --color-code: #19a974;
    --color-greyMedium: #747681;
    --color-grey: #999;
  }

  body {
    color-scheme: dark;
    font-weight: 350;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
