/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Add focus state outline.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0.25rem 0; /* 2 */
  /* 3 */
  &:focus {
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 0 1px var(--color-primary);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

label {
  display: block;
  margin-bottom: 1rem;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='reset'],
[type='submit'] {
  appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

fieldset {
  border: 1px solid var(--color-mediumGrey);
  border-radius: 0.25rem;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* BUTTONS */
button {
  background: var(--color-lightGrey);
  border-radius: 0.25rem;
  border-color: transparent;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: var(--color-darkGrey);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.2s ease;
  transform: scale(1);
  z-index: 1; /* hightlight from other button's border when grouped */

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.98);
  }

  &.primary,
  &.secondary,
  &.dark {
    color: #fff;
    background-color: #000;
    background-color: var(--color-primary);
  }
  &.secondary {
    background-color: var(--color-grey);
  }

  &.dark {
    background-color: var(--color-darkGrey);
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--color-grey);
    color: inherit;

    &.primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &.clear {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: inherit;
  }

  &:has(.icon) {
    display: inline-flex;
    align-items: baseline;
  }

  .icon {
    margin-right: 0.5rem;
  }

  &.icon-only {
    padding: 1rem;
  }
}

.grouped {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 1rem;
  }
}

/* Inputs */
input:not([type='color']):not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']),
select,
textarea {
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-mediumGrey);
  font-size: 1em;
  transition: all 0.2s ease-out 0s;
  display: block;
  width: 100%;
}

[type='checkbox'],
[type='radio'] {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin: 0 0.25rem;
}

select,
datalist + input {
  appearance: none;
  background: no-repeat 100%;
  background-size: 1.5em 1.5em;
  background-origin: content-box;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'><path stroke='%23747681' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/></svg>");
}

::placeholder {
  color: var(--color-mediumGrey);
}

.hint {
  font-size: 75%;
  color: var(--color-grey);
}
