$spaces: 0 0.25rem 0.5rem 0.75rem 1rem 1.5rem 2rem 3rem 4rem 6rem 8rem;

.container {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.list-none {
  list-style: none;
  padding-left: 0;
  margin-inline-start: 0;
}

/* Margins */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through 5 {
  .m#{$i - 1} {
    margin: nth($spaces, $i);
  }

  .mt#{$i - 1} {
    margin-top: nth($spaces, $i);
  }

  .mr#{$i - 1} {
    margin-right: nth($spaces, $i);
  }

  .mb#{$i - 1} {
    margin-bottom: nth($spaces, $i);
  }

  .ml#{$i - 1} {
    margin-left: nth($spaces, $i);
  }

  .mx#{$i - 1} {
    margin-left: nth($spaces, $i);
    margin-right: nth($spaces, $i);
  }

  .my#{$i - 1} {
    margin-top: nth($spaces, $i);
    margin-bottom: nth($spaces, $i);
  }
}

/* Padding */
@for $i from 1 through 5 {
  .p#{$i - 1} {
    padding: nth($spaces, $i);
  }

  .pt#{$i - 1} {
    padding-top: nth($spaces, $i);
  }

  .pr#{$i - 1} {
    padding-right: nth($spaces, $i);
  }

  .pb#{$i - 1} {
    padding-bottom: nth($spaces, $i);
  }

  .pl#{$i - 1} {
    padding-left: nth($spaces, $i);
  }

  .px#{$i - 1} {
    padding-left: nth($spaces, $i);
    padding-right: nth($spaces, $i);
  }

  .py#{$i - 1} {
    padding-top: nth($spaces, $i);
    padding-bottom: nth($spaces, $i);
  }
}

/* Border radius */
@for $i from 1 through 5 {
  .radius-#{$i - 1} {
    border-radius: nth($spaces, $i);
  }
}

/* Display */
.hidden,
[hidden] {
  display: none !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* Overflows */
.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

/* Flexbox */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/* align-items */
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* justify-content */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* Grid layout */
.grid {
  display: grid;
}

@for $i from 1 through 6 {
  .grid-rows-#{$i} {
    grid-template-rows: repeat($i, minmax(0, 1fr));
  }
}

@for $i from 1 through 6 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat($i, minmax(0, 1fr));
  }
}

@for $i from 1 through 5 {
  .gap-#{$i} {
    gap: nth($spaces, $i + 1);
  }
}

/* width */
.w-0 {
  width: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

/* height */
.h-0 {
  height: 0;
}

.h-100 {
  height: 100%;
}

@for $i from 1 through 8 {
  .h-#{$i} {
    height: $i * 2rem;
  }
}

/* position */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

/* Small screens */
@media (max-width: 640px) {
  .sm-show {
    display: initial !important;
  }

  .sm-hide {
    display: none;
  }
}

/* Medium screens */
@media only screen and (min-width: 768px) {
  .sm-show {
    display: none;
  }

  .md-show {
    display: initial !important;
  }

  .md-hide {
    display: none;
  }
}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {
  .sm-show {
    display: none;
  }

  .md-show {
    display: none;
  }

  .lg-show {
    display: initial !important;
  }
}
