// This file imports all the sensible defaults.
:root {
  --bg-color: #fff;
  --font-color: #222;
  --color-primary: #3333ee;
  --color-grey: #747681;
  --color-lightGrey: #d2d6dd;
  --color-mediumGrey: #aaa;
  --color-darkGrey: rgb(41, 41, 41);
  --color-code: #905;
  --font-family-sans: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-family-mono: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

/*
Dark color scheme
*/
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --font-color: #eee;
    --color-primary: #4d4dff;
    --color-code: #19a974;
    --color-mediumGrey: #777;
    --color-grey: rgba(255, 255, 255, 0.5);
  }

  html {
    color-scheme: dark;
  }

  body {
    font-weight: 350;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

@import 'media-queries';
@import 'normalize';
@import 'typography';
@import 'nav';
@import 'forms';
@import 'card';
@import 'dialog';
@import 'tabs';
